/* pc */

#viewBox{position: relative;
  width: 100%; height: 100vh;
}
.view_bg{
  width: 100%; height: 100%;
  background-image: url("../../../img/viewbg.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text_area{
  width: 100%; height: 100%; 
  animation-name:remove;
  animation-duration: 1200ms;
  /* animation-iteration-count: infinite; */
  animation-timing-function: ease-in-out;
}

.text_area > p{
  font-size: 1.875rem; text-align: center; font-weight: bold;
  line-height: 100vh; text-transform: capitalize;
}
.icon_box{
  position: absolute; top:50%; width: 10px; height: 10px; border-radius: 50%; background-color: #333;
}

@keyframes move{
  0% {top:50%}
  50% {top:51%;}
  100%{top:50%}
}

.circle_01{
  left: 56%;
  animation-name:move;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle_02{
  left: 60%;
  animation-name:move;
  animation-duration: 1100ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle_03{
  left: 64%;
  animation-name:move;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes down{
  0% {bottom:10%}
  50% {bottom:7%}
  100%{bottom:10%}
}

.down{
  position: absolute; bottom: 10%; left: 50%;
  width: 50px; height: auto;
  animation-name:down;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.down > a{display: block; width: 100%; height: 100%; font-size: 50px;}

/* //viewBox ------------------------------------------------------------*/