/* portpolio_web.css */



/* 공통 */
#wrap{position: relative;
  width: 100%; height: auto; min-height: 3000px;
}
#headBox{position: absolute; top: 100vh;
  width: 100%; height: 6.25rem; height: 100px;
}
h1{
  position: absolute; top:50px; left: 50px; z-index: 1000; font-size: 1.25rem; text-align: center;
  width: 50px; height: 50px;
  background-image: url("../../img/logo.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
#navBox{
  width: 100%; height: 100%;
}
#navBox ul{
  width: 100%; height: 100%; text-align: center; margin-top: 1.25rem;
}
#navBox ul>li{
  display: inline-block; font-size: 1.25rem; margin-right: 1.25rem; 
  border-bottom: 3px solid #030f51;
}
/* //headBox-------------------------------------------------- */

#viewBox{position: relative;
  width: 100%; height: 100vh; background-color: #875;
}
.view_bg{
  width: 100%; height: 100%;
  background-image: url("../../img/viewbg.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.view_bg>p{
  font-size: 1.875rem; text-align: center; font-weight: bold;
  line-height: 100vh; text-transform: capitalize;
}
.icon_box{
  position: absolute; top:50%; width: 10px; height: 10px; border-radius: 50%; background-color: #333;
}

@keyframes move{
  0% {top:50%}
  50% {top:51%;}
  100%{top:50%}
}

.circle_01{
  left: 56%;
  animation-name:move;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle_02{
  left: 60%;
  animation-name:move;
  animation-duration: 1100ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle_03{
  left: 64%;
  animation-name:move;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes down{
  0% {bottom:10%}
  50% {bottom:7%}
  100%{bottom:10%}
}

.down{
  position: absolute; bottom: 10%; left: 50%;
  width: 50px; height: auto;
  animation-name:down;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.down > a{display: block; width: 100%; height: 100%; font-size: 50px;}

/* //viewBox ------------------------------------------------------------*/

#aboutMe{width: 100%;  height: 1000px;}
.about_me_img{
  width: 100%; height:400px;
  background-image: url("../../img/aboutme_bg_01.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
#aboutMe > h2{
  width: 120px; height: 30px;
  font-size: 24px; margin: auto;
  text-align: center; margin-top: 20px;
}
.profile_area{
  float: left; margin-top: 30px;
  width: 50%; height: 500px
}
.profile_area> h3{
  text-align: center;
}
.profile_img{
  float: left;
  width: 50%; height: 100%;
}
.img{
  width: 192px; height: 266px;
  background-image: url("../../img/profile_img.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  margin-top: 30px;
  margin-left: 5.208333333333333vw;
  
}
.profile_text_01{
  float: right; margin-top: 30px;
  width: 50%; height: 30%;
}

.profile_text_02{
  float: right;
  width: 50%; height: 100%;
}
.profile_text_02 span{
  font-weight: bold;
}
.skill_area{
  float: right; margin-top: 30px;
  width: 50%; height: 500px;
}
.skill_area > h3{
  text-align: center;
}
.skill_area ul{
  width: 80%; height: 80%; margin: auto;
  margin-top: 30px; text-align: center;
}
.skill_area ul li{
  width: 20%; height: auto;
  display: inline-block; margin-right: 50px; margin-bottom: 40px;
  text-align: center;
}

.skil_img{
  width: 6.25vw; height: 6.25vw;
  margin: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.skil_img:nth-child(1){background-image: url("../../img/skill_30.png");}
.skil_img:nth-child(2){background-image: url("../../img/skill_30.png");}
.skil_img:nth-child(3){background-image: url("../../img/skill_30.png");}
.skil_img:nth-child(4){background-image: url("../../img/skill_30.png");}
.skil_img:nth-child(5){background-image: url("../../img/skill_30.png");}
.skil_img:nth-child(6){background-image: url("../../img/skill_30.png");}

#projectCgvCon{width: 100%;  height: 100vh; background-color: #FB6BB1;}
#projectCgvLink{width: 100%; height: 100vh; background-color: #CF48EE;}
#project19teaCon{width: 100%;  height: 100vh; background-color: #1F67CF;}
#project19teaLink{width: 100%; height: 100vh; background-color: #D3E1B7;}

/* media start */
@media screen and (min-width:280px) and (max-width:600px){
  #headBox{ top: 60px;}
  h1{top: 20px;}
  
  #viewBox{display: none;}

  .about_me_img{
    width: 100%; height:200px;
    background-image: url("../../img/aboutme_bg_01.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

}
@media screen and (min-width:601px) and (max-width:1024px){
  #aboutMe{width: 100%;  height: 1500px;}

  .circle_01{
    left: 62%;
  }
  .circle_02{
    left: 66%;
  }
  .circle_03{
    left: 70%;
  }

  .about_me_img{
    width: 100%; height:200px;
    background-image: url("../../img/aboutme_bg_01.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .profile_area{
    float: none; margin-top: 30px;
    width: 100%; height: 50%
  }
  .profile_img{
    float: none;
    width: 100%; height: 300px;
  }
  .img{
    margin: auto; 
  }
  .profile_text_01{
    float: none; margin-top: 30px;
    width: 100%; height: 20%;
  }
  
  .profile_text_02{
    float: none;
    width: 50%; height: 20%;
  }
  .profile_text_02 span{
    font-weight: bold;
  }
  .skill_area{
    float: none;
    margin-top: 30px;
    width: 100%; height: 50%;
  }
  .skill_area > h3{
    text-align: center;
  }
  .skill_area ul{
    width: 80%; height: 80%; margin: auto;
    margin-top: 30px; text-align: center;
  }
  .skill_area ul li{
    width: 20%; height: auto;
    display: inline-block; margin-right: 50px; margin-bottom: 40px;
    text-align: center;
  }
  
  .skil_img{
    width: 6.25vw; height: 6.25vw;
    margin: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}