/* pc */

#whenceBox{width: 100%; height: 100vh; }
#whenceBox h2{width: 100%; height: 50px; margin-top: 50px; text-align: center;}
.whence_con{width: 80%; height: 80%; margin: auto; background-color: #FFFDE5;}
.whence_con p{text-align: center; font-size: 30px; line-height: 500px;}