/* pc */

#footBox{width: 100%; height: 300px; background-color: #333;}
.ect{width: 60%; height: 50%; margin: auto; margin-top: 30px;}
.ect p{color: #fff; text-align: center;}
.info{width: 60%; height: 40%; margin: auto;}
.info p{color: #fff; text-align: center;}