/* tablet */
@media screen and (min-width:601px) and (max-width:1024px){
  #aboutMe{width: 100%;  height: auto; min-height: 1000px;}

  .circle_01{
    left: 62%;
  }
  .circle_02{
    left: 66%;
  }
  .circle_03{
    left: 70%;
  }

  .about_me_img{
    width: 100%; height:200px;
  }
  .profile_area{
    float: none; margin-top: 30px;
    width: 100%; height: 50%
  }
  .profile_img{
    float: none; margin-top: 30px;
    width: 100%; height: auto; min-height: 250px;
  }
  .img{
    width: 154px; height: 228px;
    margin: auto; 
    background-image: url("../../../img/profile_img_small.png");
  }
  .profile_text_01{
    float: none; margin-top: 30px;
    width: 30%; height: 20%; margin: auto;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .profile_text_02{
    float: none; margin: auto;
    width: 50%; height: 20%;
    text-align: center;
    margin-bottom: 50px;
  }
  .profile_text_02 span{
    font-weight: bold;
  }
  .skill_area{
    float: none;
    margin-top: 30px;
    width: 100%; height: auto;
  }
  .skill_area > h3{
    text-align: center;
  }
  .skill_area ul{
    width: 80%; height: 80%; margin: auto;
    margin-top: 30px; text-align: center;
  }
  .skill_area ul li{
    width: 20%; height: auto;
    display: inline-block; margin-right: 60px; margin-bottom: 40px;
    text-align: center;
  }
  .skill_area ul li:nth-child(3n){margin-right: 0;}

  .skil_img{
    width: 11.71875vw; height: 11.71875vw;
    margin: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}